.hero {
  overflow: hidden;

  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: rgba(#000, 0.4);
    }
  }

  &__container {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    z-index: 1;

    &--large {
      max-width: 1280px;
    }

    &--featured {
      @media (--md) {
        padding-bottom: 60px;
      }
    }

    &,
    * {
      box-sizing: border-box;
    }

    @media (--md) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__content {
    color: #fff;
    max-width: 520px;
    margin: 0 auto;
    padding: 5% 15px;

    @media (--md) {
      padding-top: 20%;
      padding-bottom: 20%;
    }
  }

  &__img {
    display: block;
    width: 330px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;

    @media (--md) {
      margin-top: 8%;
      margin-bottom: 8%;
    }
  }

  &__col {
    width: 100%;

    @media (--md) {
      width: 50%;
      flex-basis: 50%;
      flex-grow: 1;
    }
  }

  &__featured-post {
    background-color: var(--gold);

    @media (--md) {
      transform: translateY(-50%);
      position: relative;
      z-index: 2;
      background-color: transparent;
      margin-bottom: -220px;

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        bottom: -70px;
        z-index: 0;
        background-color: var(--gold);
      }
    }
  }
}
