.two-up {
  &__container {
    margin: 0 auto;
    max-width: 2000px;

    &,
    * {
      box-sizing: border-box;
    }
  }

  .post {
    width: 100%;
    align-items: center;
    padding: 0;
    background-color: #fff;
    visibility: visible !important;
    opacity: 1 !important;

    @media (--md) {
      flex-direction: row;
    }

    > * {
      width: 100%;
      height: auto;
      display: block;
      margin: 0;
      padding: 0;

      @media (--md) {
        width: 50%;
        flex-basis: 50%;
        flex-grow: 1;
      }
    }

    @media (--md) {
      display: flex;
      flex-wrap: nowrap;
    }

    &__meta {
      background-color: transparent;
      padding: 15px;

      @media (--md) {
        padding-left: 7%;
        padding-right: 7%;
      }

      h4 {
        font-size: 30px;
        max-width: 380px;
        margin-left: auto;
        margin-right: auto;
      }

      > * {
        margin-bottom: 15px;
        display: block;
      }

      &--icon {
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
      }
    }

    &__image {
      > span {
        height: auto;
        display: block;

        &:before {
          content: '';
          display: block;
          height: 0;
          padding-bottom: 50%;

          @media (--md) {
            padding-bottom: 100%;
          }
        }
      }
    }
  }
}
